@using BulkyBook.Models
@model List<Product>

<div class="card shadow border-1 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
       

    <div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create Product
            </a>
        </div>
    </div>
        <table class="table id="tblData" table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                </tr>
            </thead>
        </table>
       <div class="row col-12">
           
            <div class="col-3">
            
            
                <a asp-area = "Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary bg-success w-50 me-0 text-bg-success form-control h" >
                    <i class="bi bi-skip-backward"></i> Back to List
                </a>
            </div>
       </div>
        @section Scripts{
            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }
    </div>
</div>


